.todo-container {
  margin: 10px auto;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.add-form,
.edit-form {
  display: flex;
  align-items: center;
}

.todo-input,
.edit-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px;
}

.add-button,
.edit-button,
.delete-button,
.update-button {
  padding: 8px 12px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.todo-checkbox {
  margin: 10px;
}

.uncompleted-task {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.completed-task {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: line-through;
  background-color: #f0f0f0;
  color: #555;
}

.todo-buttons {
  margin-left: 10px;
}

.delete-button {
  background-color: #dc3545;
}

.add-button:hover,
.edit-button:hover,
.update-button:hover {
  background-color: #0056b3;
}

.delete-button:hover {
  background-color: #b3000c;
}

.todo-checkbox:hover {
  border-color: #007bff;
}

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}
